<h1 class="mb-5">Bienvenue sur The Hacking Gossip</h1>
<div class="container">
    <% @gossips.each do |gossip| %>
        <div>
            <h2><a href=<%= gossip_path(gossip) %>><%= gossip.title %></a></h2>
            <p><em>written by <a href="<%= student_path(gossip.user_id) %>"><%= gossip.user.first_name%></a></em></p>
        </div>
    <% end %>
</div>
