<h1><%= @gossip.title%></h1>
<p>Written by <%= @gossip.user.first_name %></p>
<p class="m5 p3 xshadow border border-light"><%= @gossip.content %></p>
<p><em class='text-grey'> - created the <%= @date%> -</em></p>

