.xshadow {
  box-shadow: 2px 2px 5px rgba(46, 46, 46, 0.767);
}
.text-grey {
  color:darkgrey;
}
body {
  color: #242424 !important;
  background-color: rgb(255, 249, 224) !important;
}
a {
  color: #242424;
  text-decoration: none;
  
}
button a{
  color:white;
  text-decoration: none;
}